################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HTML Dersleri/.vs/slnx.sqlite
/HTML Dersleri/.vs/HTML Dersleri/v16/.suo
/HTML Dersleri/.vs/HTML Dersleri/config
